<!-- Drawer -->
<div id="drawer">
  <a onclick="document.getElementById('drawer-backdrop').style.visibility='hidden';document.getElementById('drawer').style.right='-320px'" href="javascript:void(0)">
    <div class="drawer-title">Table of Contents</div>
    <div class="drawer-contents">
      <ul class="contents"></ul>
    </div>
  </a>
</div>

<div id="drawer-backdrop" onclick="document.getElementById('drawer').style.right='-320px';document.getElementById('drawer-backdrop').style.visibility='hidden'" href="javascript:void(0)">
</div>
