<!-- Hero -->
<section class="hero">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="hero-title">{{site.github.title}}</h1>
        <h2 class="hero-tagline">{{site.github.tagline}}</h2>
        <a class="button button-white" href="{{page.baseurl}}pages/about">
          Get Started
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="iconset">
        {% include partials/icon-placeholder-1.html %}
        {% include partials/icon-placeholder-2.html %}
        {% include partials/icon-placeholder-3.html %}
        {% include partials/icon-placeholder-4.html %}
        {% include partials/icon-placeholder-5.html %}
        {% include partials/icon-placeholder-6.html %}
      </div>
    </div>
  </div>
</section>
