<!-- JavaScript -->
<script src="{{page.baseurl}}assets/js/jquery.min.js"></script>
<script src="{{page.baseurl}}assets/js/main.min.js"></script>

<!-- Scroll to Top -->
<a href="#" id="top">
  <i class="fa fa-chevron-up"></i>
</a>

{% if page.layout == "pages" %}
  <script>
    $(document).ready(function() {
      $('.contents').contents();
    });
  </script>

  <script>  
    hljs.configure({tabReplace: '  '});
    hljs.initHighlightingOnLoad();
  </script>

{% elsif page.layout == "home" %}
  <!-- Fetches contributors, stargazers and latest version from GitHub -->
  <script>
    $.getJSON('https://api.github.com/repos/' + '{{site.github.user.name}}/' + '{{site.github.user.repo}}/' + 'contributors?callback=?', function(result) {
      numContributors = result.data;
      $(function() {
        $('#js-github-contributors').text(numContributors.length);
      });
    });

    $.ajax({
      url: 'https://api.github.com/repos/' + '{{site.github.user.name}}/' + '{{site.github.user.repo}}' + '?callback?',
      dataType: 'jsonp',
      success: function(json) {
        numStargazers = json.data;
        $('#js-github-stargazers').text(numStargazers.stargazers_count);
      }
    });

    $.ajax({
      url: 'https://api.github.com/repos/' + '{{site.github.user.name}}/' + '{{site.github.user.repo}}/' + 'tags?callback?',
      dataType: 'jsonp',
      success: function(json) {
        latestVersion = json.data[0];
        $('#js-github-version').text(latestVersion.name);
      }
    });
  </script>
{% endif %}
