<!-- Icon Placeholder #1 -->
<div class="col-md-3">
  <div class="icon">
    <a href="{{page.baseurl}}pages/getting-started/#prerequisites">
      <span class="icon--large icon--white icon--animated">
        <i class="fa fa-download"></i>
      </span>
      <p>{{site.github.title}} <span id="js-github-version"><i class="fa fa-spinner fa-spin"></i></span> is available. Pick from a number of different options to get started.
        <i class="fa fa-angle-right icon--normal"></i>
      </p>
    </a>
  </div>
</div>
